<!DOCTYPE html>
<html>
<head>
  <title><%= en_home.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="<%= en_home.keywords %>">
  <meta name="description" content="<%= en_home.description %>">
  <meta property="og:description" content="<%= en_home.description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= en_home.url %>" />
  <meta property="og:image" content="<%= en_home.image %>" />
  <meta property="og:site_name" content="<%= en_home.title %>" />
  <meta property="og:title" content="<%= en_home.title %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= en_home.title %>">
  <meta name="twitter:description" content="<%= en_home.description %>">
  <meta name="twitter:image" content="<%= en_home.twitterImage %>">
  <% include ../_inc/css_en %>
  <% include ../_inc/link %>
  <% include ../_inc/font %>
  <% include ../_inc/shader %>
</head>
<body>
  <% include ../_inc/body_en %>
  <% include ../_inc/js %>
</body>
</html>




















