<!DOCTYPE html>
<html>
<head>
  <title><%= projects01.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="<%= projects01.keywords %>">
  <meta name="description" content="<%= projects01.description %>">
  <meta property="og:description" content="<%= projects01.description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= projects01.url %>" />
  <meta property="og:image" content="<%= projects01.image %>" />
  <meta property="og:site_name" content="<%= projects01.title %>" />
  <meta property="og:title" content="<%= projects01.title %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= projects01.title %>">
  <meta name="twitter:description" content="<%= projects01.description %>">
  <meta name="twitter:image" content="<%= projects01.twitterImage %>">
  <% include ../../_inc/css %>
  <% include ../../_inc/link %>
  <% include ../../_inc/font %>
  <% include ../../_inc/shader %>
</head>
<body>
  <% include ../../_inc/body %>
  <% include ../../_inc/js %>
</body>
</html>




















