<!DOCTYPE html>
<html>
<head>
  <title><%= about.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="<%= about.keywords %>">
  <meta name="description" content="<%= about.description %>">
  <meta property="og:description" content="<%= about.description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= about.url %>" />
  <meta property="og:image" content="<%= about.image %>" />
  <meta property="og:site_name" content="<%= about.title %>" />
  <meta property="og:title" content="<%= about.title %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= about.title %>">
  <meta name="twitter:description" content="<%= about.description %>">
  <meta name="twitter:image" content="<%= about.twitterImage %>">
  <% include ../_inc/css %>
  <% include ../_inc/link %>
  <% include ../_inc/font %>
  <% include ../_inc/shader %>
</head>
<body>
  <% include ../_inc/body %>
  <% include ../_inc/js %>
</body>
</html>




















