<!DOCTYPE html>
<html>
<head>
  <title><%= home.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="<%= home.keywords %>">
  <meta name="description" content="<%= home.description %>">
  <meta property="og:description" content="<%= home.description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= home.url %>" />
  <meta property="og:image" content="<%= home.image %>" />
  <meta property="og:site_name" content="<%= home.title %>" />
  <meta property="og:title" content="<%= home.title %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= home.title %>">
  <meta name="twitter:description" content="<%= home.description %>">
  <meta name="twitter:image" content="<%= home.twitterImage %>">
  <% include ./_inc/css %>
  <% include ./_inc/link %>
  <% include ./_inc/font %>
  <% include ./_inc/shader %>
</head>
<body>
  <% include ./_inc/body %>
  <% include ./_inc/js %>
</body>
</html>




















